@{
    ViewData["Title"] = "OrderComplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <h1 class="col-md-12 text-center mt-3 mb-3">Our yummi desserts are on their way!</h1>
        <h3>Not Enough? can't blame you</h3>
    </div>
    <div class="row">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-lg mx-auto mt-5 mb-3" style="background-color: #252940;
                                      color: white;
                                      border: 1px solid #252940">Give Me Some More</a>
    </div>
</div>

