<h2 style="text-align:center">Login Failed</h2>
<div class="container-fluid">
    <div class="card">
        please check your login details and try again
        <br />
        <button type="button" class="btn btn-default" style="margin: 20px 0"> @Html.ActionLink("Try again", "SignIn", "Registration")</button>
    </div>
</div>
