<div class="container view-container">
    <div class="card card-signin my-5">
        <div class="card-body">
            <h5 class="card-title text-center">Sign Up</h5>
            <form class="form-signin">
                <div class="horizontal">
                    <div class="form-label-group">
                        <input id="first-name" class="form-control" placeholder="First Name" required autofocus>
                        <label for="first-name">First Name</label>
                    </div>

                    <div class="form-label-group">
                        <input id="last-name" class="form-control" placeholder="Last Name" required autofocus>
                        <label for="last-name">Last Name</label>
                    </div>
                </div>
                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                    <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password" required>
                    <label for="confirm-password">Confirm Password</label>
                </div>

                <button class="btn btn-lg btn-signin btn-block text-uppercase" type="submit">Sign Up</button>
                <hr class="my-4">
                <a id="register" asp-controller="Registration" asp-action="SignIn">Already have an account? sign in</a>
            </form>
        </div>
    </div>
</div>
