i{
    cursor: pointer;
}

.cart-img {
    display: block;
    max-width: 50px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#cart-checkout-btn {
    background-color: #252940;
    color: white;
    border: hidden;
}

#cart-continue-btn {
    background-color: #5B6F94;
    color: white;
    border: hidden;
}

table tr td {
    border: 1px solid #FFFFFF;
}

table tr th {
    background: #D4C9D1;
    color: white;
}

.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}

.cart-trash{
    float:right;
}
