:root {
  --main-bg-color: #D4C9D1; 
  --sub-bg-color: #252940; 

}

body {
    padding-top: 50px;
    padding-bottom: 20px;
	color: black;
}

a{
	color: white;
}

a:hover{
	color: var(--main-bg-color);
}

nav{
	background-color: var(--main-bg-color);
}

button{
    background-color: var(--main-bg-color);
    color: white;
    border: 1px solid var(--sub-bg-color);
    border-radius: 5px;
    height: 50px;
    width: 160px;
}ןשנ

button:hover {
    background-color: var(--sub-bg-color);
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#map {
    height: 400px;
    width: 400px;
    background-color: grey;
}

#site-img{
    padding: 120px 0 0px var(--left-padding);
    background-image: url(../images/welcome.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    height: 600px;
}

#welcome-text{
	margin-top: 50px;
    color: var(--sub-bg-color);
    position: relative;
    font-size: 36px;
    width: 400px;
}

.content{
    min-width: 700px;
	padding: 50px;
}

/***
About
****/
.service-item{
	text-align: center;
}

.service-item .icon{
	border: 1px #b3b3b3 solid;
	margin: 0 auto;
	border-radius: 100%;
	width: 110px;
	height: 110px;
	display: block;
	margin-bottom: 60px;
}

.service-item .icon i{
	line-height: 110px;
	font-size: 45px;	
	color: var(--sub-bg-color);
}

.service-item .icon:hover{
	background-color: var(--main-bg-color);
	border-color: var(--sub-bg-color);
}

.service-item .icon:hover i{
	color: #fff;
}
.service-item h3{
	margin-bottom: 60px;
}

.service-item .icon .icon-pen{
	background: url('img/icon/pen.png');
}