<div class="container view-container">
    <div class="column">
        <aside class="service-item">
            <div class="icon"><i class="fa fa-certificate"></i></div>
            <h3>Quality</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam,
                quis nostrud exercitation ullamco.
            </p>
        </aside>

        <aside class="service-item">
            <div class="icon"><i class="fa fa-diamond"></i></div>
            <h3>Taste</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam.
            </p>
        </aside>

        <aside class="service-item">
            <div class="icon"><i class="fa fa-bolt"></i></div>
            <h3>Service</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua Ut enim ad minim veniam.
            </p>
        </aside>

    </div>
</div>
