
<div onload="draw()">
    <section id=''>
        <header class="video-header">
            <div class="overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                <source src="~/images/cake.mp4" type="video/mp4">
            </video>
            <div class="container h-100">
                <div class="d-flex h-100 text-center align-items-center">
                    <div class="w-100 text-white">
                        <a asp-area="" asp-controller="Home" asp-action="Shop">
                            <button id="index-button">
                                Online Shop
                                @*<canvas id="canvas" width="50" height="50"></canvas>*@
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </header>
    </section>
</div>