
<div>
  <section id='site-img'>
    <div class="container">
      <div id="welcome-text">
        Welcome to the Sweet Shop
      </div>
      <br></br>
    <a href="">
      <button>Online Shop</button>
    </a>
    </div>
  </section>
</div>