
<div>
  <section id='site-img'>
    <div class="container">
      <span id="welcome-text">
        Life is short, eat a dessert first
      </span>
      <br></br>
    <a href="">
      <button>Online Shop</button>
    </a>
    </div>
  </section>
</div>