@{
    ViewData["Title"] = "Shop";
}

    <div class="container view-container">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <p>This is where u shop</p>
    </div>